



ul {
    width: 1812px;
}

.carreFlex {
    width: max-content;
    display: flex;
    flex-direction: row;
    width: 2000px;
    gap: 3%;
    margin: 0% 0% 4% 4.5%;
}


.carreFlex1 {
    width: 1125px;
    height: 540px;
    border-radius: 28px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4% 0.3% 0% 0.3%;
}

.carre1 {
    background-color: #F2F2F2;
    width: 1125px;
    height: 740px;
    border-radius: 28px;
    padding-top: 3%;
    padding-bottom: 1%;
    margin-top: 0%;
}

.carreFlex2 {
    width: 503px;
    height: 720px;
    border-radius: 28px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 6.25%;
    margin-top: 10.5%;
    padding-left: 8%;
}

.carreflex3 {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 170px;
    border-radius: 28px;
    flex-wrap: wrap;
    gap: 24%;
    margin-top: 3%;
}

.carre2 {
    background-color: #F2F2F2;
    width: 543px;
    height: 775px;
    border-radius: 28px;
    padding-bottom: 2.2%;
}


.logo {
    display: block;
    position: relative;
    margin-top: 4%;
    margin-left: 5%;
    width: 150px;
}

.logoReservia {
    margin-top: 3%;
    width: 150Px;
    height: 60px;
    margin-bottom: 3%;
    margin-left: 5%;
}

.Bold {
    font-size: 30px;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 7px;
}

.normal {
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    margin-left: 5%;
    margin-bottom: 1%;
}

.normal1 {
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
}

.infoflex {
    margin-top: -2%;
    width: 2000px;
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-bottom: 3%;
}

.text {
    border: none;
    width: 303px;
    height: 57px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
}






.rechercher2 {
    background-color: #F2F2F2;
    width: 307.2px;
    height: 61px;
    border-radius: 21px 0px 0px 21px;
    margin-left: 5%;
    margin-bottom: 3%;
    padding-top: 0.1300%;
    padding-bottom: 0.0080%;
    margin-right: 0%;
    display: flex;
    flex-direction: row;
    padding-left: 1.2%;
    gap: 8%;
    margin-top: 1%;
}

.location {
    margin-top: 6%;
    justify-content: y;
    font-size: 23px;
    width: 22px;
    height: 22px;
}

.rechercherflex {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.rechercher3 {
    background-color: #0065FC;
    width: max-content;
    width: 180px;
    height: 62px;
    border-radius: 0px 21px 21px 0px;
    margin-top: 1.05%
}


.rechercher4 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 23px;
    margin-left: 15%;
    margin-top: 9%;
}

.search {
    width: 0%;
    text-align: left;
    font-size: 0px;
    margin-top: 0%;
    color: #0065FC;
}

.Bold6 {
    margin-bottom: 4%;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-top: 15px;
    background-color: white;
    width: 60px;
    height: 60px;
}


.Bold2 {
    font-size: 30px;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    position: relative;
}



.mobilefiltreflex {
    width: max-content;
    width: 1800px;
    flex-direction: row;
    display: flex;
    margin-left: 4.5%;
    margin-bottom: 0%;
}

.rectangle {
    background-color: #F2F2F2;
    width: 1810px;
    height: 280px;
    margin: 3% 5% 1% 2%;
    display: flex;
    flex-direction: row;
    gap: 17%;
}

.cercle {
    background-color: #DEEBFF;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    margin-top: -1.25%;
    margin-left: -1.25%;
}

.cercle:hover {
 background-color: #0065FC;
}

.bill {
    text-align: center;
    padding-top: 35%;
    width: 69px;
    height: 45px;
    border-radius: 50%;
    z-index: 2;
    margin-left: 0%;
    font-size: 23px;
    color: #0065FC;
}

.bill:hover {
    color: white;
}

.rectangle1 {
    background-color: white;
    width: 260px;
    height: 63px;
    border-radius: 33px 33px 33px 33px;
    border-style: solid;
    border-color: #DADADA;
}

.rectangle1flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 7%;
}


.rectangle1:hover .economique {
    color: #DEEBFF;
}


.rectangle1:hover .cercle {
    background-color: #0065FC;
}


.rectangle1:hover .bill {
    color: white;
}


.filtresflex {
    width: max-content;
    width: 2880px;
    z-index: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2%;
    margin-left: 2.5%;
}








.economique {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-top: 6%;
}






.cercle1 {
    background-color: #DEEBFF;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    margin-top: -1.5%;
    margin-left: -2%;
    z-index: 2;
}



.familial {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-top: 8%;
}


.child {
    font-size: 27px;
    padding-top: 35%;
    text-align: center;
    color: #0065FC;
}



.rectangle2 {
    background-color: white;
    width: 200px;
    height: 63px;
    border-radius: 33px 33px 33px 33px;
    border-style: solid;
    border-color: #DADADA;
}


.rectangle2:hover .cercle1 {
    background-color: #0065FC;
}

.rectangle2:hover .child {
    color: white;
}

.rectangle2:hover .familial {
    color: #DEEBFF;
}






.romantique {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-top: 8%;
}



.cercle2 {
    background-color: #DEEBFF;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    margin-top: -1.5%;
    margin-left: -2%;
    z-index: 2;
}


.coeur {
    font-size: 23px;
    color: #0065FC;
    padding-top: 35%;
    text-align: center;
}



.rectangle3 {
    background-color: white;
    width: 220px;
    height: 63px;
    border-radius: 33px 33px 33px 33px;
    border-style: solid;
    border-color: #DADADA;
    float: right;
}



.rectangle3:hover .cercle2 {
    background-color: #0065FC;
}



.rectangle3:hover .coeur {
    color: white;
}

.rectangle3:hover .romantique {
    color: #DEEBFF;
}

.animaux {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-top: 6%;
    width: 200px;
}

.cercle3 {
    background-color: #DEEBFF;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    margin-top: -1.5%;
    margin-left: -2%;
    z-index: 2;
}


.chien {
    padding-top: 35%;
    text-align: center;
    font-size: 23px;
    color: #0065FC;
}




.rectangle4 {
    background-color: white;
    width: 290px;
    height: 63px;
    border-radius: 33px 33px 33px 33px;
    border-style: solid;
    border-color: #DADADA;
}

.rectangle4:hover .chien {
    color: white;
}

.rectangle4:hover .cercle3 {
    background-color: #0065FC;
}

.rectangle4:hover .animaux {
    color: #DEEBFF;
}

.textRectangle1 {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    gap: 6%;
    margin-left: 3%;
}

.textRectangle2 {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    gap: 6%;
}




.textRectangle3 {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    gap: 6%;
}



.textBold {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.textBold1 {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}



.menuflex {
    width: 1812px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.hebergementhref {
    text-decoration: none;
    color: black;
    background-color: blue;
    width: 300px;
    height: 240px;
    border-radius: 28px;
}

.hebergement {
    width: 142px;
    height: 20px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}











.Barre:hover::before {
    margin-top: -40%;
    margin-bottom: 40%;
    width: 125%;
    margin-left: -10%;
}



.barreflex {
    position: absolute;
    margin-right: 20%;
    width: 142px;
    height: 28px;
    margin-top: 68px;
    list-style-type: none;
}

.barreflex:hover {
    margin-left: 0%;
    width: 142px;
}


.barreflex:hover .hebergement {
    padding-left: 0%;
    height: 0.25em;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 68px;
    color: #0065FC;
    font-family: 'Raleway', sans-serif;
}









.Barre::before {
    content: "";
    height: 0.21em;
    width: 0%;
    background-color: #0065FC;
    display: flex;
    flex-direction: column;
}


.activites {
    width: 85px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.barreflex1 {
    position: absolute;
    width: 85px;
    height: 20px;
    margin-left: 6%;
    margin-top: 68px;
    margin-right: 10%;
    list-style-type: none;
}


.barreflex1:hover {
    position: absolute;
    height: 20px;
    margin-left: 6%;
    margin-right: 10%;
}



.Barre1:hover .activites {
    position: relative;
    margin-top: 68px;
    padding-left: 0%;
    color: #0065FC;
}

.Barre1::before {
    content: "";
    height: 0.25em;
    width: 0%;
    background-color: #0065FC;
    display: flex;
    flex-direction: column;
}

.Barre1:hover::before {
    width: 140%;
    margin-left: -16%;
    margin-top: -65%;
    margin-bottom: 65%;
}



.inscription {
    width: 85px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #0065FC;
}

.barreflex2 {
    position: absolute;
    width: 85px;
    height: 20px;
    margin-top: 68px;
    margin-left: 6%;
    list-style-type: none;
}


.barreflex2:hover {
    margin-left: 4.85%;
}






.Barre2:hover .inscription {
    margin-top: 69px;
    padding-left: 0%;
}



.Barre2::before {
    content: "";
    height: 0.25em;
    width: 0%;
    background-color: #0065FC;
    display: flex;
    flex-direction: column;
}

.Barre2:hover::before {
    width: 155%;
    margin-top: -65%;
    margin-bottom: 65%;
    margin-left: -27%;
}

.cercleflex {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-bottom: 2%;
}

.miniCercle {
    margin-left: 5%;
    width: 0.3%;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 2px;
    border-radius: 20px;
    padding: 0.3% 0.6% 0.3% 0.6%;
    margin-top: -0.05%;
    font-size: 14px;
    color: #0065FC;
}

.activitesflex {
    display: flex;
    width: min-content;
    width: 1880px;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 4.5%;
    margin-top: 2%;
    gap: 3%;
}

.activitesflex1 {
    display: flex;
    width: 21.5%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6%;
}

.activitesflex2 {
    display: flex;
    width: 21.5%;
    height: 30%;
    flex-direction: column;
    flex-wrap: wrap;
}



.VieuxPortHref {
    text-decoration: none;
    color: black;
    background-color: blue;
    width: 20%;
    height: 588px;
    border-radius: 28px;
}

.CalanquesHref {
    text-decoration: none;
    color: black;
    background-color: blue;
    width: 20%;
    height: 588px;
    border-radius: 28px;
}

.VieuxPort0 {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    margin-top: 139%;
    box-shadow: 0px 0px 7px 7px #F2F2F2;
}



.VieuxPort {
    background-image: url(/img/activites/vieuxport.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0px;
    background-size: 220%;
    z-index: 1;
    border-radius: 28px 28px 0% 0%;
    width: 100%;
    height: 515px;
    margin-top: -139%;
    margin-bottom: 6%;
}


.Bold1 {
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-left: 5%;
    margin-top: 4%;
}

.Bold0 {
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-left: 5%;
    margin-top: 3%;
}

.FortHref {
    text-decoration: none;
    color: black;
    background-color: blue;
    width: 98.6%;
    height: 30%;
    border-radius: 28px;
}

.FortDePomegues {
    background-color: white;
    background-image: url(/img/activites/frioul.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -130px;
    background-size: 100%;
    object-fit: cover;
    border-radius: 28px 28px 0% 0%;
    width: 400px;
    height: 232px;
    margin-bottom: 6%;
}

.FortDePomegues0 {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    padding-bottom: 3%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}

.PortHref {
    text-decoration: none;
    color: black;
    background-color: blue;
    width: 400px;
    height: 20%;
    border-radius: 28px;
    margin-top: 16%;
}

.Port {
    background-color: white;
    background-image: url(/img/activites/port.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -15px;
    background-size: 100%;
    overflow: hidden;
    margin-bottom: 6%;
    border-radius: 28px 28px 0% 0%;
    width: 400px;
    height: 150px;
}

.Port0 {
    background-color: white;
    width: 400px;
    padding-bottom: 5.5%;
    height: 20%;
    border-radius: 28px;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}



.Calanques {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    margin-top: 139%;
    box-shadow: 0px 0px 7px 7px #F2F2F2;
}



.Calanques0 {
    background-image: url(/img/activites/calanques.jpg);
    background-repeat: no-repeat;
    background-position-x: -241px;
    background-position-y: -0px;
    background-size: 221%;
    z-index: 1;
    border-radius: 28px 28px 0% 0%;
    width: 100%;
    height: 515px;
    margin-top: -139%;
    margin-bottom: 0.1%;
}

.Bold3 {
    font-size: 23px;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    float: left;
    background-color: white;
    width: 350px;
}


.NotreDameHref {
    width: 400px;
    border-radius: 28px;
    height: 30%;
    text-decoration: none;
    padding-bottom: 0%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}

.NotreDame {
    background-color: white;
    background-image: url(/img/activites/notredame.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 100%;
    object-fit: cover;
    border-radius: 28px 28px 0% 0%;
    width: 400px;
    height: 185px;
    margin-bottom: 0%;
}

.NotreDame0 {
    color: black;
    background-color: white;
    width: 400px;
    border-radius: 28px;
    height: 100%;
}


a {
    text-decoration: none;
    color: black;
}

.ParcHref {
    text-decoration: none;
    color: black;
    background-color: white;
    width: 400px;
    height: 30%;
    border-radius: 28px;
    margin-top: 11.5%;
    padding-bottom: 4%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}









.Parc {
    background-color: white;
    background-image: url(/img/activites/parc5.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0px;
    background-size: 100%;
    object-fit: cover;
    margin-bottom: 6%;
    border-radius: 28px 28px 0% 0%;
    width: 400px;
    height: 214px;
}

.Parc0 {
    background-color: white;
    width: 400px;
    height: 100%;
    border-radius: 28px;
    padding-bottom: 1.5%;
}

.Canebiere {
    background-color: white;
    background-image: url(/img/hebergements/canebiere.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    border-radius: 22px 22px 0% 0%;
    width: 300px;
    height: 150px;
}

.Canebiere0 {
    background-color: white;
    width: 300px;
    height: 240px;
    border-radius: 28px;
    padding: 2% 2.1% 2% 2.1%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}

.CarreBold1 {
    margin-left: 4%;
    font-size: 19px;
    font-weight: bold;
    width: 280px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-top: 4%;
    margin-bottom: 0%;
}


.CarreText1 {
    margin-left: 4%;
    font-size: 18px;
    width: 200px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
}

.CarreBold2 {
    font-size: 19px;
    font-weight: bold;
    width: 50px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
}

.starFlex {
    color: #0065FC;
    margin-left: 3%;
    margin-top: 3%;
    width: 100%;
    display: flex;
    gap: 1%;
}


.starFlex1 {
    color: #0065FC;
    margin-top: 2%;
    width: 100%;
    display: flex;
    gap: 1%;
}

.star {
    width: 10px;
    height: 10px;
    color: #0065FC;
}

.star1 {
    width: 10px;
    height: 10px;
    color: #0065FC;
}

.star2 {
    width: 10px;
    height: 10px;
    color: #0065FC;
}

.star3 {
    width: 10px;
    height: 10px;
    color: #0065FC;
}

.star4 {
    width: 10px;
    height: 10px;
    color: #e9e9e9;
}

.HotelPort {
    background-color: white;
    background-image: url(/img/activites/port.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 110%;
    object-fit: cover;
    border-radius: 22px 22px 0% 0%;
    width: 300px;
    height: 150px
}

.HotelPort0 {
    padding: 2% 2.1% 2% 2.1%;
    background-color: white;
    width: 300px;
    height: 240px;
    border-radius: 28px;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}

.CarreText2 {
    font-size: 18px;
    width: 180px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-top: 59.5%;
    margin-left: 4%;
}

.star5 {
    width: 10px;
    height: 10px;
    color: #0065FC;
}

.Mouettes {
    background-color: white;
    background-image: url(/img/hebergements/mouettes.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    object-fit: cover;
    border-radius: 22px 22px 0% 0%;
    width: 300px;
    height: 150px
}

.Mouettes0 {
    background-color: white;
    width: 300px;
    height: 240px;
    border-radius: 28px;
    padding: 2% 2.1% 2% 2.1%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}

.Mer {
    background-color: white;
    background-image: url(/img/hebergements/mer.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    object-fit: cover;
    border-radius: 22px 22px 0% 0%;
    width: 300px;
    height: 150px
}

.Mer0 {
    background-color: white;
    width: 300px;
    height: 240px;
    border-radius: 28px;
    padding: 2% 2.1% 2% 2.1%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}

.star6 {
    width: 10px;
    height: 10px;
    color: #e9e9e9;
}

.Panier {
    background-color: white;
    background-image: url(/img/hebergements/panier.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    object-fit: cover;
    border-radius: 22px 22px 0% 0%;
    width: 300px;
    height: 150px
}

.Panier0 {
    background-color: white;
    width: 300px;
    height: 240px;
    border-radius: 28px;
    padding: 2% 2.1% 2% 2.1%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}

.Amina {
    background-color: white;
    background-image: url(/img/hebergements/amina.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    object-fit: cover;
    border-radius: 22px 22px 0% 0%;
    width: 300px;
    height: 150px
}

.Amina0 {
    background-color: white;
    width: 300px;
    height: 240px;
    border-radius: 28px;
    padding: 2% 2.1% 2% 2.1%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}

.CarreBold3 {
    font-size: 19px;
    font-weight: bold;
    width: 50px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
}


.HebergementBold {
    margin-left: 4.5%;
    margin-top: 2%;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


.HebergementBold1 {
    margin-left: 2.5%;
    height: 32px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}



.textBold2 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 4.5%;
    font-family: 'Raleway', sans-serif;
}

.populairehref {
    text-decoration: none;
    color: black;
    width: 445px;
    height: 160px;
    border-radius: 28px;
}


.Soleil {
    background-color: white;
    background-image: url(/img/hebergements/soleil.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 170%;
    object-fit: cover;
    border-radius: 22px 0px 0px 22px;
    width: 170px;
    height: 163px
}

.Soleil0 {
    background-color: white;
    width: 445px;
    display: flex;
    gap: 7%;
    height: 160px;
    border-radius: 28px;
    padding: 1.2% 0% 2% 1.2%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}


.CarreText3 {
    font-size: 18px;
    width: 180px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-top: -9%;
    margin-bottom: 0%;
}

.CarreBold4 {
    font-size: 19px;
    font-weight: bold;
    width: 50px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-left: -2.6%;
}

.star0 {
    width: 10px;
    height: 10px;
    color: #0065FC;
}

.star01 {
    width: 10px;
    height: 10px;
    color: #0065FC;
}

.star02 {
    width: 10px;
    height: 10px;
    color: #0065FC;
}

.star03 {
    width: 10px;
    height: 10px;
    color: #0065FC;
}

.star05 {
    width: 10px;
    height: 10px;
    color: #0065FC;
}

.CarreBold01 {
    font-weight: bold;
    font-size: 21px;
    width: 250px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-top: 4%;
}


.star04 {
    width: 10px;
    height: 10px;
    color: #e9e9e9;
}

.Eau {
    background-color: white;
    background-image: url(/img/hebergements/eau.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 152%;
    object-fit: contain;
    border-radius: 28px 0px 0px 28px;
    width: 170px;
    height: 163px
}

.Eau0 {
    background-color: white;
    width: 445px;
    display: flex;
    gap: 7%;
    height: 160px;
    border-radius: 28px;
    padding: 1.2% 0% 2% 1.2%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}


.Bleu {
    background-color: white;
    background-image: url(/img/hebergements/bleu.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 108%;
    object-fit: contain;
    border-radius: 22px 0px 0px 22px;
    width: 170px;
    height: 163px
}

.Bleu0 {
    background-color: white;
    width: 445px;
    display: flex;
    gap: 7%;
    height: 160px;
    border-radius: 28px;
    padding: 1.2% 0% 2% 1.2%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;
}

.CarreBold5 {
    font-size: 19px;
    font-weight: bold;
    width: 50px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
}

.CarreBold6 {
    font-size: 19px;
    font-weight: bold;
    width: 50px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
}



.CarreBold7 {
    font-size: 19px;
    font-weight: bold;
    width: 50px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-left: -1%;
}

.progress {
    width: 200px;
    height: 200px;
}

.fas.fa-chart-line {
    margin-left: 27%;
    font-size: 30px;
}