.carre1 {
background-color: #F2F2F2;
width: 1140px;
height: 800px;
border-radius: 2.7%;
display: inline-block;
margin: 10% 1% 1% 5%;


}

.carre2 {
    background-color: #F2F2F2;
    width: 538px;
    height: 800px;
    border-radius: 2.7%;
    float: right;
    margin: 10% 5% 1% 0%;

    }


.logo {
   margin-left: 5%; 
} 

.logoReservia {

    width: 100x;
    height: 50px;
    margin-bottom: 3%;
}

.Bold  {
    font-size: 30px;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 7px;
    
    
}
.normal {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-left: 5%;
    margin-bottom: 1%;
    
}


.text {

    border: none;
    width: 303px;
    height: 57px;
    
}

.rechercher2 {

background-color: #F2F2F2;
width: 307.2px;
height: 61px;
;
border-radius: 15px 0px 0px 15px;
margin-left: 5%;
margin-bottom: 3%;
padding-left: 3.5%;
padding-top: 0.1300%;
padding-bottom: 0.0080%;
margin-right: 0%;
display: inline-block;


}

.rechercher3 {

    background-color: #0065FC;
width: 200px;
height: 62px;
;
border-radius: 0px 15px 15px 0px;
float: right;
margin-right: 64.6%;
margin-top: 1.5px;
}



.Bold1  {

    position: absolute;
    font-size: 23px;
    margin-left: 5%;
  
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    float: left;
     background-color: white;
width: 60px;
height: 60px;
    
    
    
}


.Bold2  {
    font-size: 30px;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    
    
}


.rectangle {

    background-color: #F2F2F2;
    width: 1813px;
    height: 300px;
    
    
    margin: 3% 1.5% 1% 2%;

    }

.cercle {
    
    position: absolute;
    background-color: #DEEBFF;
width: 69px;
height: 69px;
border-radius: 50%;

    margin-left: 10.4%;
   
display: inline-block;

z-index: 2;


}

.rectangle1 {
  
    position: absolute;
    background-color: white;
    width: 260px;
    height: 63px;
    border-radius: 33px 33px 33px 33px;
    border-style: solid;
    border-color: #DADADA;
  margin-left: 10.6%;
    
    
    float:right;
    

    
}




.cercle1 {
    
    position: absolute;
    background-color: #DEEBFF;
width: 69px;
height: 69px;
border-radius: 50%;

    margin-left: 26.2%;
   


z-index: 2;


}

.rectangle2 {
  
    position: absolute;
    background-color: white;
    width: 200px;
    height: 63px;
    border-radius: 33px 33px 33px 33px;
    border-style: solid;
    border-color: #DADADA;
  margin-left: 26.4%;
    
    
    float:right;
    

    
}



.cercle2 {
    
    position: absolute;
    background-color: #DEEBFF;
width: 69px;
height: 69px;
border-radius: 50%;

    margin-left: 38.7%;
   


z-index: 2;


}

.rectangle3 {
  
    position: absolute;
    background-color: white;
    width: 260px;
    height: 63px;
    border-radius: 33px 33px 33px 33px;
    border-style: solid;
    border-color: #DADADA;
  margin-left: 39.5%;
    
    
    float:right;
    

    
}


.cercle3 {
    
    position: absolute;
    background-color: #DEEBFF;
width: 69px;
height: 69px;
border-radius: 50%;

    margin-left: 54.8%;
   


z-index: 2;


}

.rectangle4 {
  
    position: absolute;
    background-color: white;
    width: 290px;
    height: 63px;
    border-radius: 33px 33px 33px 33px;
    border-style: solid;
    border-color: #DADADA;
  margin-left: 55%;
    
    
    float:right;
    

    
}


