.carre1 {
    background-color: #F2F2F2;
    width: 1125px;
    height: 800px;
    border-radius: 28px;
    display: inline-block;
    margin: 2% 1% 1% 5%;


}

.carre2 {
    background-color: #F2F2F2;
    width: 523px;
    height: 800px;
    border-radius: 28px;
    float: right;
    margin: 2% 5% 1% 0%;

}


.logo {
    margin-left: 5%;
}

.logoReservia {

    width: 100x;
    height: 50px;
    margin-bottom: 3%;
}

.Bold {
    font-size: 30px;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 7px;


}

.normal {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    margin-left: 5%;
    margin-bottom: 1%;

}





.normal1 {


    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    margin-right: 70%;
    float: right;


}





.text {

    border: none;
    width: 303px;
    height: 57px;

}

.rechercher2 {

    background-color: #F2F2F2;
    width: 307.2px;
    height: 61px;
    ;
    border-radius: 15px 0px 0px 15px;
    margin-left: 5%;
    margin-bottom: 3%;
    padding-left: 3.5%;
    padding-top: 0.1300%;
    padding-bottom: 0.0080%;
    margin-right: 0%;
    display: inline-block;


}

.rechercher3 {

    background-color: #0065FC;
    width: 200px;
    height: 62px;
    ;
    border-radius: 0px 15px 15px 0px;
    float: right;
    margin-right: 64.6%;
    margin-top: 1.5px;
}



.Bold1 {

    position: absolute;
    font-size: 23px;
    margin-left: 5%;

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    float: left;
    background-color: white;
    width: 60px;
    height: 60px;



}


.Bold2 {


    font-size: 30px;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 15px;

    position: relative;


}


.rectangle {
    padding-top: 3%;
    padding-left: 4%;
    padding-bottom: 3%;

    background-color: #F2F2F2;
    width: 1740px;
    height: 200px;
    display: inline-block;


    margin: 3% 0% 1% 2%;

}

.cercle {

    position: absolute;
    background-color: #DEEBFF;
    width: 69px;
    height: 69px;
    border-radius: 50%;

    margin-left: 10.4%;



    z-index: 2;


}

.rectangle1 {

    position: absolute;
    background-color: white;
    width: 260px;
    height: 63px;
    border-radius: 33px 33px 33px 33px;
    border-style: solid;
    border-color: #DADADA;
    margin-left: 10.6%;


    float: right;



}




.cercle1 {

    position: absolute;
    background-color: #DEEBFF;
    width: 69px;
    height: 69px;
    border-radius: 50%;

    margin-left: 26.2%;



    z-index: 2;


}

.rectangle2 {

    position: absolute;
    background-color: white;
    width: 200px;
    height: 63px;
    border-radius: 33px 33px 33px 33px;
    border-style: solid;
    border-color: #DADADA;
    margin-left: 26.4%;


    float: right;



}



.cercle2 {

    position: absolute;
    background-color: #DEEBFF;
    width: 69px;
    height: 69px;
    border-radius: 50%;

    margin-left: 38.7%;



    z-index: 2;


}

.rectangle3 {

    position: absolute;
    background-color: white;
    width: 260px;
    height: 63px;
    border-radius: 33px 33px 33px 33px;
    border-style: solid;
    border-color: #DADADA;
    margin-left: 39.5%;


    float: right;



}


.cercle3 {

    position: absolute;
    background-color: #DEEBFF;
    width: 69px;
    height: 69px;
    border-radius: 50%;

    margin-left: 54.8%;



    z-index: 2;


}

.rectangle4 {

    position: absolute;
    background-color: white;
    width: 290px;
    height: 63px;
    border-radius: 33px 33px 33px 33px;
    border-style: solid;
    border-color: #DADADA;
    margin-left: 55%;


    float: right;



}

.textRectangle1 {





    float: left;





}

.textRectangle2 {



    width: 250px;
    margin-left: 18%;
    display: inline-block;





}

.textRectangle3 {



    margin-right: 26%;
    float: right;

}


.textBold {
    font-size: 25px;

    font-family: 'Raleway', sans-serif;
    font-weight: bold;



}

.textBold1 {
    font-size: 22px;


    font-family: 'Raleway', sans-serif;







}

.hébergement {
    font-size: 20px;


    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    float: left;
    margin-left: 65%;
    color: #0065FC;




}

.activités {
    font-size: 20px;
    margin-left: 5%;
    font-weight: 500;
    display: inline-block;
    font-family: 'Raleway', sans-serif;







}

.inscription {
    font-size: 20px;

    margin-right: 7%;
    font-weight: 700;
    color: #0065FC;
    float: right;
    font-family: 'Raleway', sans-serif;







}

.miniCercle {


    background-color: white;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5%;


    border-style: solid;
    border-color: #F2F2F2;




}

.VieuxPort {
    position: absolute;
    background-color: white;
    width: 400px;

    height: 45px;
    border-radius: 28px;

    padding-bottom: 0.5%;

    padding-top: 27.7%;
    box-shadow: 0px 0px 7px 7px #F2F2F2;
    margin: 1.3% 0% 1% 5%;


}



.VieuxPort0 {

    position: absolute;
    background-image: url(/Img/Activités/VieuxPort.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0px;

    background-size: 220%;
    z-index: 1;
    border-radius: 28px 28px 0% 0%;
    width: 400px;
    height: 515px;
    margin: 1.3% 0% 1% 5%;


}


.Bold1 {
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 10px;
    font-family: 'Raleway', sans-serif;

}


.FortDePomègues {
    position: absolute;
    background-color: white;
    background-image: url(/Img/Activités/Frioul.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -130px;
    background-size: 100%;
    object-fit: cover;



    border-radius: 28px 28px 0% 0%;
    width: 400px;
    height: 232px;


    margin: 1.3% 0% 1% 28%;

}

.FortDePomègues0 {

    position: absolute;
    background-color: white;
    width: 400px;

    height: 50px;
    border-radius: 28px;

    padding-top: 12.5%;
    padding-bottom: 0.5%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;


    margin: 1.3% 0% 1% 28%;


}



.Port {
    position: absolute;
    background-color: white;
    background-image: url(/Img/Activités/Port.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -15px;
    background-size: 100%;
    overflow: hidden;



    border-radius: 28px 28px 0% 0%;
    width: 400px;
    height: 150px;


    margin: 20.5% 0% 1% 28%;

}

.Port0 {

    position: absolute;
    background-color: white;
    width: 400px;

    height: 50px;
    border-radius: 28px;

    padding-top: 8.2%;
    padding-bottom: 0.5%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;


    margin: 20.5% 0% 1% 28%;


}



.Calanques {
    position: absolute;
    background-color: white;
    width: 400px;

    height: 45px;
    border-radius: 28px;

    padding-bottom: 1%;


    box-shadow: 0px 0px 7px 7px #F2F2F2;
    margin: 1.3% 0% 1% 51%;


    padding-top: 27.2%;


}



.Calanques0 {

    position: absolute;
    background-image: url(/Img/Activités/Calanques.jpg);
    background-repeat: no-repeat;
    background-position-x: -241px;
    background-position-y: -0px;
    background-size: 221%;
    z-index: 1;
    border-radius: 28px 28px 0% 0%;
    width: 400px;
    height: 515px;
    margin: 1.3% 0% 1% 51%;



}

.Bold3 {

    position: absolute;
    font-size: 23px;
    margin-left: 5%;

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    float: left;
    background-color: white;
    width: 350px;
    height: 30px;
}




.NotreDame {
    position: absolute;
    background-color: white;
    background-image: url(/Img/Activités/NotreDame.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 100%;
    object-fit: cover;



    border-radius: 28px 28px 0% 0%;
    width: 400px;
    height: 185px;


    margin: 1.3% 5% 1% 75%;

}

.NotreDame0 {

    position: absolute;
    background-color: white;
    width: 400px;

    height: 50px;
    border-radius: 28px;

    padding-top: 9.8%;
    padding-bottom: 0.8%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;


    margin: 1.3% 5% 1% 75%;


}

.Parc {
    position: absolute;
    background-color: white;
    background-image: url(/Img/Activités/Parc5.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0px;
    background-size: 100%;
    object-fit: cover;



    border-radius: 28px 28px 0% 0%;
    width: 400px;
    height: 214px;


    margin: 17.1% 5% 1% 75%;

}

.Parc0 {

    position: absolute;
    background-color: white;
    width: 400px;

    height: 50px;
    border-radius: 28px;

    padding-top: 11.5%;
    padding-bottom: 0.5%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;


    margin: 17.1% 5% 1% 75%;


}

.Canebiere {
    position: absolute;
    background-color: white;
    background-image: url(/Img/Hebergements/canebiere.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    object-fit: cover;



    border-radius: 28px 28px 0% 0%;
    width: 300px;
    height: 150px
}

.Canebiere0 {

    position: absolute;
    background-color: white;
    width: 300px;

    height: 240px;
    border-radius: 28px;

    padding: 0.3% 0.3% 0.3% 0.3%;
    padding-bottom: 0.5%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;


    margin: 6% 0% 1% 2.5%;


}

.CarreBold1 {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-top: 50.5%;
    margin-left: 4%;
}


.CarreText1 {
    position: absolute;
    font-size: 19px;

    width: 150px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-top: 59.5%;
    margin-left: 4%;

}

.CarreBold2 {
    position: absolute;
    font-size: 19px;
    font-weight: bold;
    width: 50px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-top: 59.5%;
    margin-left: 47%;
}

.fas.fa-star {
    position: absolute;
    margin-top: 69.5%;
    margin-left: 4%;

}

.star {

    position: absolute;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: 67.5%;
    margin-left: 4%;
    color: #0065FC;

}

.star1 {

    position: absolute;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: 67.5%;
    margin-left: 10%;
    color: #0065FC;

}

.star2 {

    position: absolute;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: 67.5%;
    margin-left: 16%;
    color: #0065FC;

}

.star3 {

    position: absolute;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: 67.5%;
    margin-left: 22%;
    color: #0065FC;

}

.star4 {

    position: absolute;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: 67.5%;
    margin-left: 28%;
    color: #e9e9e9;


}

.HotelPort {
    position: absolute;
    background-color: white;
    background-image: url(/Img/Hebergements/port.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 110%;
    object-fit: cover;



    border-radius: 28px 28px 0% 0%;
    width: 300px;
    height: 150px
}

.HotelPort0 {

    position: absolute;
    background-color: white;
    width: 300px;

    height: 240px;
    border-radius: 28px;

    padding: 0.3% 0.3% 0.3% 0.3%;
    padding-bottom: 0.5%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;


    margin: 6% 0% 1% 21.25%;


}

.CarreText2 {
    position: absolute;
    font-size: 19px;

    width: 180px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-top: 59.5%;
    margin-left: 4%;

}

.star5 {

    position: absolute;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: 67.5%;
    margin-left: 28%;
    color: #0065FC;


}

.Mouettes {
    position: absolute;
    background-color: white;
    background-image: url(/Img/Hebergements/mouettes.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    object-fit: cover;



    border-radius: 28px 28px 0% 0%;
    width: 300px;
    height: 150px
}

.Mouettes0 {

    position: absolute;
    background-color: white;
    width: 300px;

    height: 240px;
    border-radius: 28px;

    padding: 0.3% 0.3% 0.3% 0.3%;
    padding-bottom: 0.5%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;


    margin: 6% 2.3% 1% 40%;


}

.Mer {
    position: absolute;
    background-color: white;
    background-image: url(/Img/Hebergements/mer.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    object-fit: cover;



    border-radius: 28px 28px 0% 0%;
    width: 300px;
    height: 150px
}

.Mer0 {

    position: absolute;
    background-color: white;
    width: 300px;

    height: 240px;
    border-radius: 28px;

    padding: 0.3% 0.3% 0.3% 0.3%;
    padding-bottom: 0.5%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;


    margin: 21.8% 0% 1% 2.5%;


}

.star6 {

    position: absolute;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: 67.5%;
    margin-left: 22%;
    color: #e9e9e9;


}

.Panier {
    position: absolute;
    background-color: white;
    background-image: url(/Img/Hebergements/panier.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    object-fit: cover;



    border-radius: 28px 28px 0% 0%;
    width: 300px;
    height: 150px
}

.Panier0 {

    position: absolute;
    background-color: white;
    width: 300px;

    height: 240px;
    border-radius: 28px;

    padding: 0.3% 0.3% 0.3% 0.3%;
    padding-bottom: 0.5%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;


    margin: 21.8% 2.3% 1% 21.25%;


}

.Amina {
    position: absolute;
    background-color: white;
    background-image: url(/Img/Hebergements/amina.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    object-fit: cover;



    border-radius: 28px 28px 0% 0%;
    width: 300px;
    height: 150px
}

.Amina0 {

    position: absolute;
    background-color: white;
    width: 300px;

    height: 240px;
    border-radius: 28px;

    padding: 0.3% 0.3% 0.3% 0.3%;
    padding-bottom: 0.5%;
    box-shadow: 0px 0px 7px 3px #F2F2F2;


    margin: 21.8% 2.3% 1% 40%;


}

.CarreBold3 {

    position: absolute;
    font-size: 19px;
    font-weight: bold;
    width: 50px;
    height: 10px;
    font-family: 'Raleway', sans-serif;
    margin-top: 59.5%;
    margin-left: 54.1%;

}
